html,
body {
  padding: 0;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  background-color: rgb(213, 255, 158);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
