.app {
  width: 300px;
  background-color: #949494;
  opacity: 0.93;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  padding: 4px 16px;
  margin: auto;
}

.display {
  padding: 40px;
}
.title {
  text-align: center;
  margin: 10px 10px 16px 10px;
  font-family: monospace;
}

.form {
  display: flex;
  flex-direction: row;
  margin-bottom: 18px;
}

.input {
  width: 100%;
  padding: 8px 12px;
  margin-right: 4px;
  background-color: rgb(255, 255, 255);
  border: transparent;
  border-radius: 10px;
}

.primary-button {
  width: 20%;
  padding: 8px 12px;
  border-radius: 10px;
  border: transparent;
  background-color: rgb(255, 255, 255);
}

.todo-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: transparent;
  padding-left: 18px;
  padding-right: 6px;
  margin-bottom: 18px;
  border: transparent;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

.todo-item.label {
  font-size: 16px;
}

.todo-item.delete-button {
  padding: 12px;
}

.delete-button {
  border: transparent;
  border-radius: 6px;
  margin: 2px;
  padding: 2px;
  background-color: #c0baba;
}
